{% extends "blog/base.html" %}
{% block content %}
{% load static %}
    <div class="container" >
        <h1>Programing with Damozy_code</h1>
        <img class ="my-image" src="{% static 'image/damozy.jpg' %}"
         alt="Author picture">
        <div class="about-info">
            <h5>Damozy_code is a backend programmer with an experience of 2 years</h5>
            <p>ASD (AUTISM SPECTRUM DISORDER)
                An autism is also called autism spectrum disorder:
                It is a serious development disorder that impairs the ability to communicate and interact. It is a disorder
                involving any range of psychological conditions, all characterized by abnormal social interaction and communicating,
                restricted interest, highly repetitive behavior and eccentricity, these makes it hard for them to express
                themselves, either with words or through gestures, facial expressions, and touch.
                How do you get Autism?
                Till date there’s no one cause of autism. Research suggest that autism develop from a combination of genetics and
                non-genetics, or environmental influence. People with autism might have problems with learning ‘‘that is their
                skills might develop unevenly.’’

                Autism signs and symptoms
                There are some signs observed in people with Autism, this signs and symptoms appears before a child turns 3 (early
                age)
                • A lack of eye contact.
                • A narrow range of interest or intense interest in certain topics.
                • Doing something over and over.
                • High sensitivity to sound, touches, smells, or sight that seems ordinary to people.
                • Not looking at things when people points at them.
                • Talking in a sing-song, flat or robotic voice.
                • Trouble adapting to change in routine.

                Types of Autism Spectrum Disorder
                1. ASPERGER’S SYNDROME: These children do not have a problem with language, in fact, they tend to score in the
                average or above average on intelligence test. But they have social problems and a narrow scope of interest.
                2. AUNTISTIC DISORDER: This is what most people think when they hear the word AUTISM. It refers to problems with
                social interaction and communication.
                3. CHILDHOOD DISINTEGRATION DISORDER: These children have typical development for at least 2years and then lose some
                or, most of their communication and social skills.
                4. PERVASIVE DEVELOPMENT DISORDER (PDD or A TYPICAL AUTISM): it is the delay in how a child typically develops
                problems with socializing and communicating.

                AUTIMS TREATMENT
                Currently, no treatment has been shown to cure ASD, but several intervention have been studied for use with young
                children, these intervention may reduce symptoms , improve cognitive ability and daily living skills, and maximize
                the ability of the child to function and participate in the community.
                They are many treatment available, these include
                • Behavior analysis
                • Social skills training
                • Occupation therapy
                • Physical therapy
                • Sensory integration therapy
                • Use of assistive technology.
                Article by:
                DAMILOLA SALAKO
            </p>
        </div>

    </div>
{% endblock content %}
